body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(172deg,#ebf2f4,#f1efee);
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
